*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-texte);
  font-size: var(--font-size-m);
  line-height: 1.6;
  background-color: var(--couleur-background);
  font-weight: 300;
  background-color: var(--couleur-background);
}

h1,
h2 {
  font-weight: normal;
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-size: var(--font-size-xxl);
  font-family: var(--font-titre);
}

h2 {
  font-size: var(--font-size-xl);
  font-family: var(--font-sous-titre);
}

h3 {
  line-height: 1.4;
}

button,
input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.noscroll {
  overflow: hidden;
}

.highlight {
  background-color: var(--primary);
  padding: 4px var(--space1x);
  font-weight: 500;
}

.titre_accueil {
  color: var(--couleur-texte);
}

.intro__title {
  color: var(--couleur-texte);
  margin-left: 20px;
}

.image_article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.texte_article {
  color: black;
  text-align: center;
  font-family: var(--font-texte);
  font-size: var(--font-size-l);
}

.sous_texte_article {
  color: var(--texte---important);
  margin-left: 30px;
  font-family: var(--font-texte);
  font-size: var(--font-size-m);
}

.cta {
  margin-left: 16rem;
  margin-right: 10px;
  background-color: var(--mis-en-valeur-de-mot);
  border-radius: 30px;
  text-align: center;
  font-family: var(--couleur-texte);
  color: black;
  font-size: var(--font-size-m);
}

.langue {
  display: flex;
  gap: 10px;
}

.langue_fr {
  font-weight: bold;
  color: #d2d2d2;
  margin-left: auto;
}

.langue_en {
  color: #d2d2d2;
}

.texte_globale {
  color: var(--couleur-texte);
  margin-left: 20px;
  margin-right: 10px;
  font-size: var(--font-size-m);
  font-family: var(--font-texte);
}

.légende_image {
  margin-left: 39px;
  color: var(--texte---important);
  font-size: var(--font-size-m);
  font-family: var(--font-texte);
}

.texte_contact {
  color: var(--couleur-texte);
  margin-left: 40px;
  font-size: var(--font-size-m);
  font-family: var(--font-texte);
}

.rectangle {
  background-color: white;
  width: 297px;
  height: 40px;
  border-radius: 10px;
  margin-left: 43px;
  border: 0.5px solid black;
}

.rectangle_objet {
  background-color: white;
  width: 297px;
  height: 253px;
  border-radius: 10px;
  margin-left: 43px;
  border: 0.5px solid black;
}

.rectangle_bouton {
  background-color: var(--couleur-background-header-footer);
  width: 237px;
  height: 40px;
  border-radius: 10px;
  margin-left: 78px;
  margin-bottom: 33px;
}

.mot_important {
  color: var(--mis-en-valeur-de-mot);
  font-weight: bold;
}