:root {
/* Variable collection */
  /* Mode 1 */
  /* color */
  --mis-en-valeur-de-mot: #fcc94d;
  --texte---important: #bababa;
  --couleur-background: #5c7c96;
  --couleur-background-header-footer: #6b9cbc;
  --couleur-texte: #f4f5f0;
  --couleur-texte-langue: #d2d2d2;

/* typo */
  --font-size-xxl: 36px;
  --font-size-xl: 30px;
  --font-size-l: 18px;
  --font-size-m: 14px;
  --font-titre: "K2D", sans-serif;
  --font-subtitle: "Space Mono", monospace;
  --font-texte: "Mulish", sans-serif;

  /* Espaces */
  --space1x: 10px;
  --space2x: 20px;
  --space3x: 40px;
  --space4x: 80px;
  --space5x: 120px;
}
